@import './variables.css';

.login-form {
  background-color: var(--white-color);
  color: var(--accent-color);
  padding: var(--padding-large);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-base);
}

.login-form h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--gap-base) * 2);
  color: var(--accent-color);
}

.form-input {
  width: 100%;
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}

.form-button {
  width: 100%;
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: var(--primary-color);
}

.login-form a {
  font-size: var(--font-size-base);
  color: var(--accent-color);
  margin-top: var(--gap-base);
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-form a:hover {
  color: var(--secondary-color);
}
