@import './variables.css';

/* Container styles */
.recipe-card {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: auto;
    display:column;
    padding: 0px 25px 30px;

}



/* Inner content wrapper */
.card_content {

    background-color:  #FFFFFF;
    position: relative;
    margin: 20 px;
    border-radius: 15px;
    width: 300px;
    height: auto;
    display:flex;
    flex-direction:column;
    max-width: 1600px;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
    padding-top:0;



}



.recipe-image-container {
    width: auto;
    height: 50%;
    position: relative;
    align:center;



}

.card_content:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.recipe-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    display: block;
}



.recipe-card-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.total_co2e {
    font-size: 1rem;
}

.favorite-button {
    position:relative;
    background-color: transparent;
    float: right;
    border: none;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    padding-bottom:0;

}

.favorite-button:hover {
    transform: scale(1.2);
    filter: brightness(0.9);
    transition: transform 0.2s ease-in-out;
}
.cookingTime{
    width:100%;
    padding:5px;
    background-color: var(--accent-color);
}

.cookingTime p {
    margin:0px;

}

