@import './variables.css';
.recipeList-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recipeList-container{
  width: 93%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: row;
  justify-content:flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}


.no-results-container {
  display:flex;
  width:100%;
  align-items : center;
  flex-direction: column;
}

.no-results-h2{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: var(--text-dark);
}
.no-result-p{
  text-align: center;
  font-size: 1.3rem;
  color: var(--text-dark);
}