@import './variables.css';

.recipeList-container{
  background-color: var(--main-background-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding:10px;
  margin-left: 5px;
  margin-right: auto;
  flex-direction: row;
}


.no-results-container {
  display:flex;
  width:100%;
  align-items : center;
  flex-direction: column;
}

.no-results-h2{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: var(--text-dark);
}
.no-result-p{
  text-align: center;
  font-size: 1.3rem;
  color: var(--text-dark);
}