@import './variables.css';

.timer-wrapper {
    width: 25%;
}

.timer-wrapper-running {
    width: 32%;
}
.timer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5px;
    /*background-color: var(--accent-color);*/
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    border: var(--form-box-stroke-selected) solid 1px;
    width:100%;
    margin-right: 0;
}



.timer-buttons {
    background-color:var(--form-box-stroke) ;
    color: white;
    border: none;
    width: 27px;
    height: 27px;
    line-height: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.timer-buttons:hover {
    filter: brightness(0.9);
}

.timer-container p {
    margin: 0;
    padding: 0;
}

