:root {
    /* Color Scheme */
    --primary-color: rgba(4, 124, 30, 0.6); /* Fresh mint green */
    --secondary-color: #fafafa; /* Forest green */
    --accent-color: #023436; /* Soft peachy cream */
    --text-color: rgba(0, 0, 0, 0.76); /* Crisp white for contrast */
    --background-color: #d8efe6; /* Gentle seafoam green */
    --third-color: #049a8f;
    --white-color: #ffffff; /* Classic white */

    --main-background-color: #F2F7F2; /* Off-white */
    --form-background-color: #A5D6A7;
    --form-box-stroke-selected: #427149;
    --form-box-stroke: #679D72;
    --form-button: #427149;
    --form_button-hover: #2C3F25;
    --form-button-clicked: #679D72;

    --text-dark: #191716;


    /* Reusable Styles */
    --font-size-base: 1rem;
    --font-size-large: 2rem;
    --font-weight-bold: bold;
    --border-radius: 4px;
    --padding-base: 10px;
    --padding-large: 60px 20px;
    --gap-base: 10px;

    /* Fonts */
    --font-family: 'Arial', sans-serif;
}

.btn-primary {
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--third-color);
}